* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* need to use these to to have more similar font apperance as in Figma === potential blog article? */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.blank {
    display: none;
}

body {
    background-color: black;
    color: white;
    font-family: 'Outfit', sans-serif;
    width: 68,75%;
    max-width: 1320px;
    display: flex;
    flex-direction: column;
}

#blank_space {
    height: 160px;
}

#blue-light {
    position: absolute;
    width: 145px;
    height: 164px;
    left: -70px;
    top: 120px;
    z-index: 6;
    background: rgba(46, 64, 228, 0.55);
    filter: blur(75px);
}

/* hezky clanek o tohmle owerflow a o tom do toho obrazku s kamrou dole */
.big-div {
    position: absolute;
    width: 80px;
    height: 153px;
    left: 78%;
    top: 430px;
}

.red-dot {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 153px;
    background: rgba(223, 48, 88, 0.8);
    filter: blur(50px);
    z-index: 5;
    
}

#red-light {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 60px;
    right: -10px;
    background: rgba(223, 48, 88, 0.65);
    filter: blur(5px);
    z-index: 6;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 6px 0 8px 0;
    z-index: 4;
    -webkit-backdrop-filter: blir(10px);
    backdrop-filter: blur(10px);
}

h1 {
    padding: 0 15px;
    font-weight: 600;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
}

#header-img {
    width: 20px;
    cursor: pointer;
}

#name {
    font-size: 40px;
    font-weight: 400;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

#nav-bar {
    margin: 0 15% 0 15%;
}

#nav-bar ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    flex-wrap: wrap;
}

.nav-link {
    list-style: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

.nav-link:hover {
    color: white;
    opacity: 0.45;
}

#home {
    display: flex;
    justify-content: center;
}

p {
    margin: 15px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 200;
    font-size: 20px;
    line-height: 110%;
    text-align: justify;
}

.btn {
    padding: 8px 20px 9px 20px;
    border-radius: 60px;
    border: 1px solid white;
    background-color: #FFFFFF;
    color: black;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
}

.btn:hover {
    background-color: black;
    color: white;
} 

.hero-camera-lower {
    margin: 30px 0;
    background-image: url(./Images/pexels-achim-f-3526906.jpg);
    height: 310px;
    width: 100%;
    background-size: 630px auto;
    background-position: center center;
}

#center-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-card {
    margin-top: 100px;
}

#what-we-offer h1 {
    text-transform: uppercase;
    margin-bottom: 32px;
}

#dark-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 92%;
    padding: 4% 0;;
    background: #111111;
    border-radius: 35px;
}

/* .dark-overlay:hover {
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    height: 100%;
    width: 100%;
    transition: 0.3s;
} */

.img-card {
    position: relative;
    width: 80%;
    aspect-ratio: 43/50;
    margin: 17px 0;
    border-radius: 25px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.img-card:hover {
    cursor: pointer;
    /* transition: all 1s; */
    box-shadow: inset 0 0 200px rgba(0, 0, 0, 0.25), inset 0 0 200px rgba(0, 0, 0, 0.25), inset 0 0 200px rgba(0, 0, 0, 0.25);
    color: white;
    background-size: 105% auto;
   /* -webkit-transition: all 1s; */
    transition: background-size 2s ease-in;
        -moz-transition: background-size 2s ease-in;
        -web-kit-transition: background-size 2s ease-in;
}


#img-video {
    background-image: url(./Images/pexels-bruno-massao-2095594.jpg);
}

#img-lens {
    background-image: url(./Images/pexels-artem-mizyuk-1890752.jpg);
}

#img-accessories {
    background-image: url(./Images/pexels-luis-quintero-1738643.jpg);
    background-size: 140% auto;
}

#dark-box h3 {
    width: 100%;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.1em;
    text-align: center;
    margin-top: 40px;
    position: absolute;
}

#dark-box h3.black {
    color: black;
}

#dark-box h3.white {
    color: white;
}

.title-1 {
    margin: 25px 0;
}

.title-2 {
    display: none;
}

.center-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

select {
    padding: 5px 5px;
    color: #FFFFFF;
    background: #000000;
    border: 1px solid #FFFFFF;
    margin: 15px;
    height: 40px;
    width: calc(100% - 30px);
    text-align: justify;
    font-weight: 200;
    font-size: 16px;
}

.img-body {
    margin: auto;
    width: calc(100% - 50px);
    background-position: center center;
}

#lens-image {
    background-image: url(./Images/pexels-garrett-morrow-2179865.jpg);
    box-shadow: inset 0px 50px 50px #000000;
    width: 270px;
    height: 277.5px;
    background-size: 300px auto;
    border-radius: 50% 50% 49% 51% / 92% 92% 8% 8%;
}

#camera-img {
    background-image: url(./Images/pexels-santschi-films-4243663.jpg);
    width: 280px;
    height: 250px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    background-size: 430px auto;
}

#gimball-img {
    background-image: url(./Images/DJI\ gimbal.png);
    width: 190px;
    height: 306px;
    background-size: 300px auto;
    background-repeat: no-repeat;
    margin: 50px auto;
}

.links {
    margin: auto;
    width: calc(100% - 30px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.accessories-category {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
}

.div-links {
    padding: 12px 10px 11px 10px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 50px;
    margin: 5px;
}

.div-links:hover {
    color: #FFFFFF;
    padding: 12px 13px 11px 13px;
    cursor: pointer;
    background: #242424;
    border: 1px solid #242424;
    transition: 0.3s;
}

.accessories-category:hover {
    color: #FFFFFF;
    transition: 0.15s;
}

iframe {
    margin: 15px;
    aspect-ratio: 16/9;
    text-align: center;
    width: calc(100% - 30px);
}

#your-name, #subject, #email {
    width: 100%;
    border-radius: 10px;
    border: 1px solid white;
    padding: 10px;
    font-size: 16px;
    line-height: 110%;
    color: rgba(255, 255, 255, 0.7);
    background-color: black;
}

#wine-div {
    background: #521826;
}

#wine-ombre {
    background: radial-gradient(126.99% 126.99% at 50% 126.99%, #521826 53.12%, #2E0D15 84.9%, #000000 100%);
}

#wine-ombre > h2 {
    padding: 25px 18px 43px 18px;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #C36E83;
}

#contact {
    font-weight: 500;
    font-size: 32px;
    line-height: 115%;
    display: flex;
    text-decoration: underline;
    margin-bottom: 20px;
}

#form {
    padding: 0 15px;
}

.contact-text {
    font-size: 20px;
}

.contact-input {
    margin: 15px 0;
    width: 100%;
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-size: 16px;
    line-height: 110%;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.17);;
}

#subject {
    height:200px
}

#subject, #your-name, #email {
    width: 100%;
    border-radius: 0;
    border: none;
    padding: 10px;
    margin: 6px 0 16px 0;
    font-size: 16px;
    line-height: 110%;
    color: white;
    background-color: rgba(255, 255, 255, 0.17);
}

.send-btn {
    width: 100%;
    padding: 20px 0;
    display: flex;
}

input[type=submit] {
    padding: 8px 28px 9px 28px;
    font-weight: 600;
    font-size: 24px;
    line-height: 110%;
    background-color: #FFFFFF;
    border-radius: 50px;
    margin: auto;
}

#footer {
    background: linear-gradient(90deg, #000000 56.77%, #0E155A 100%);
    padding: 0 0 5px 0;
}

#footer > p {
    line-height: 115%;
    text-align: center;
    font-size: 18px;
    color: #FFFFFF;
}

#footer > p > a {
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}

#footer > p > a:hover {
    color: black;
    border-radius: 50px;
    padding: 0 3px 1px 3px;
    transition: 0.3s;
    background-color: rgba(255, 255, 255, 0.884);
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (min-width: 740px) {

    header {
        height: 70px;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 4;
        margin-inline: auto;
        display: flex;
        justify-content: center;
    }

    #header-container {
        max-width: 1000px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #home, #nav-bar > ul > li {
        margin: 0 20px;
    }

    #nav-bar {
        margin: 0;
    }

    #blue-light {
        height: 25vw;
        width: 20vw;
        left: 90vw;
        top: 20vw;
    }

    body {
        max-width: 1320px;
        overflow-x: hidden;
    }

    .big-div {
        position: absolute;
        width: 300px;
        height: 200px;
        left: -10vw;
        top: 70vh;
    }

    .red-dot {
        position: relative;
        overflow: hidden;
        width: 90%;
        height: 90%;
        background: rgba(223, 48, 88, 0.7);
        filter: blur(70px);
        z-index: 5;
        
    }

    #red-light {
        position: absolute;
        width: 80px;
        height: 80px;
        top: 0px;
        right: -10px;
        background: rgba(223, 48, 88, 0.9);
        filter: blur(5px);
        z-index: 6;
    }

    #blank_space {
        display: none
    }

    #about {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

   .main {
     display: flex;
     width: 100vw;
     max-width: 1000px;
   }
   
   #main-hero {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        max-width: 1000px;
        flex-grow: 1
   }

   #hero-text {
        max-width: 400px;
        width: 40%;
        min-width: 296px;
   }

   #hero-text > p {
        margin: 20px 0;
        font-size: 26px;
   }

   .btn {
        font-size: 32px;
        margin: 5px 0;
        padding: 15px 25px 18px 25px;
   }

   .hero-camera-lower {
        max-width: 600px;
        width: 60%;
        min-width: 444px;
        min-height: 300px;
        height: 130%;
        max-height: 450px;
        background-size: 900px auto;
   }

   .title-1 {
        display: none;
    }

   .title-2 {
        display: unset;
    }

    h1 {
        font-size: 44px;
    }

    .blank {
        display: unset;
        display: inline-block;
        height: 100px;
        width: 10px;
    }

    #what-we-offer {
        margin: 100px auto;
        width: 90vw;
        max-width: 1000px;
    }

    #center-box {
        margin: 50px 0;
    }

    #dark-box {
        flex-direction: row;
        width: 100%;
        max-width: 1000px;
        padding: 35px 15px;    
    }

    .img-card {
        margin: 0 15px;
    }

    .flex-card {
        margin: 100px auto;
        width: 90vw;
        max-width: 1000px;
        display: flex;
        flex-grow: 1;
    }

    .flex-card > .content {
        width: 45%;
    }

    .flex-card > .content > h1 {
        text-align: left;
        font-size: 62px;
    }

    .flex-card > .content > text > p {
        font-size: 22px;
    }

    select {
        font-size: 26px;
        padding: 10px;
        height: 2em;
    }

    .flex-card > .img-body {
        transform: scale(1.6);
    }

    #camera-img {
        transform: matrix(-1.6, 0, 0, 1.6, 0, 0);
    }

    #video-cameras > .flex-card {
        flex-direction: row-reverse;
    }

    .accessories-category {
        font-size: 20px;
        padding: 4px 8px 6px 8px;

    }

}